@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/containers";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: linear-gradient(to bottom, whitesmoke 0%, skyblue 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 1em;
  grid-auto-rows: minmax(100px, auto);
  width: 70%;
  height: 70px;
  background: scroll;
  background-size: contain;
}
.container {
  grid-column: 1/4;
  grid-row: 1;
  background-color: blue;
}
.wrapper1 {
  display: grid;
  grid-column: 1/4;
  grid-row: 2;
  background-color: rgb(255, 30, 0);
}
.introduction {
  grid-column: 1/2;
  grid-row: 2;
  grid-gap: 10px;
}
.pros-cons {
  grid-column: 2/2;
  grid-row: 2;
  background-color: rgb(127, 47, 180);
}
.homaya {
  grid-column: 1/1;
  grid-row: 3/8;
  background-color: rgb(58, 219, 85);
}
.schneider {
  grid-column: 2/2;
  grid-row: 3/8;
  background-color: rgb(179, 231, 34);
}
.phocos {
  grid-column: 3/3;
  grid-row: 3/8;
  background-color: rgb(221, 22, 178);
}
.footer {
  grid-column: 2/2;
  text-align: center;
}
